<h2 mat-dialog-title>
  {{ data.gameCompound?.game?.homeTeam }}
  {{ data.gameCompound?.game?.finalScore?.home }} X
  {{ data.gameCompound?.game?.finalScore?.visitor }}
  {{ data.gameCompound?.game?.visitorTeam }}
</h2>
<mat-dialog-content class="mat-typography">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="bettor">
        <th mat-header-cell *matHeaderCellDef>Bettor address</th>
        <td mat-cell *matCellDef="let bet">{{ bet.bettor }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell class="td-right" *matHeaderCellDef>
          Bet Tokens Stake
        </th>
        <td mat-cell class="td-right" *matCellDef="let bet">
          {{ format(bet.value) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="prize">
        <th mat-header-cell class="td-right" *matHeaderCellDef>
          Bet Tokens Prize
        </th>
        <td mat-cell class="td-right" *matCellDef="let bet">
          {{ format(bet.prize) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell class="td-right" *matHeaderCellDef>Action</th>
        <td mat-cell class="td-right" *matCellDef="let bet; let i = index">
          <button
            *ngIf="
              (bet.result == TIED || bet.result == WINNER) &&
              bet.bettor == userAccountAddress
            "
            class="button"
            color="primary"
            mat-raised-button
            matTooltip="Withdraw an ammount of Soccer Bet Tokens"
            (click)="withdraw(i)"
          >
            Withdraw
          </button>
          <span *ngIf="bet.result == PAID" class="paid">PAID</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="bottom-info" *ngIf="prize">
    <span>Total winners:</span>
    <span class="total-bets-value">{{ data.winnerBets.length }} </span>
    <span>Prize:</span>
    <span class="prize-symbol">SBT</span>
    <span class="prize-value" [matTooltip]="format(prize)"
      >{{ formatShortScale(prize) }}
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Close</button>
</mat-dialog-actions>
