.sol linguist-language=Solidity
docs/** linguist-documentation
./frontendAngular/reports/** linguist-documentation
./backend-hardhat/reports/** linguist-documentation
./backend-truffle/reports/** linguist-documentation
**/reports/** linguist-vendored
backend-hardhat/reports/** linguist-vendored