<section fxLayout="column" fxFlexAlign="stretch">
  <h1>Welcome</h1>
  <p>
    <b>Soccer Bet Ðapp</b> provides a decentralized environment where anyone can
    bet about soccer games scores. The owner of an Ethereum account that makes
    bets about games score is denominated BETTOR.
  </p>
  <p>
    The ADMIN is the responsible for manage the system, register the games able
    to betting, open and close the game for betting, input the scores after end
    of these games etc.
  </p>
  <p>
    The BETTOR buy tokens using Ether and uses these tokens to make guess about
    score of one or more games registered by the ADMIN. After a game is
    finalized, the ADMIN register the final score and the prize is splitted
    among those BETTORS whose bets matched the final score.
  </p>
  <p>
    For more detailed information about the workflow, check the
    <a
      href="https://github.com/fabianorodrigo/dAppSoccerbet/tree/develop/docs/workflow"
      target="_blank"
      >documentation in our Github</a
    >.
  </p>
  <h2>Main contracts</h2>
  <table>
    <tr>
      <th>Contract</th>
      <th>Address</th>
      <th>Owner</th>
    </tr>
    <tr>
      <td>Bet Token</td>
      <td>{{ betTokenAddress }}</td>
      <td>{{ betTokenOwner }}</td>
    </tr>
    <tr>
      <td>Game Factory</td>
      <td>{{ gameFactoryAddress }}</td>
      <td>{{ gameFactoryOwner }}</td>
    </tr>
  </table>
</section>
