<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">{{ title }}</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <dapp-wallet
          [userAccountAddress]="userAccountAddress"
          fxFlexAlign="center"
        ></dapp-wallet>
      </li>
    </ul>
  </div>
</mat-toolbar>
