<div class="label-balance" *ngIf="userAccountAddress">
  <mat-label>Soccer Bet Token Balance:</mat-label>
  <div class="balance" [matTooltip]="formatedBalanceTooltip">
    {{ formatedBalance }}
  </div>
</div>

<div *ngIf="!userAccountAddress">Connect you wallet to check your balance</div>

<div class="actions">
  <button
    class="button"
    mat-raised-button
    [disabled]="!this.userAccountAddress"
    color="primary"
    [matTooltip]="
      'Buy an ammount of Soccer Bet Tokens using ' + chainCurrencyName
    "
    (click)="buy($event)"
  >
    Buy Soccer Bet Tokens...
  </button>
  <button
    class="button"
    mat-raised-button
    [disabled]="!this.userAccountAddress"
    matTooltip="Exchange an ammount of Soccer Bet Tokens for Ether"
    (click)="exchange($event)"
  >
    Exchange Soccer Bet Tokens...
  </button>
</div>
