<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="form">
    <div>
      <mat-form-field class="full-width">
        <input
          type="number"
          matInput
          placeholder="Bet Value"
          formControlName="value"
        />
        <mat-hint *ngIf="this.data.allowance" align="end"
          >Max: {{ formattedMax }}</mat-hint
        >
        <mat-error *ngIf="form.controls['value'].invalid" align="end">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="full-width">
      <input
        type="number"
        matInput
        [placeholder]="data.homeTeam"
        formControlName="home"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        type="number"
        matInput
        [placeholder]="data.visitorTeam"
        formControlName="visitor"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-button
    [disabled]="!form.valid"
    color="primary"
    [mat-dialog-close]="form.getRawValue()"
    cdkFocusInitial
  >
    Confirm
  </button>
</mat-dialog-actions>
