<p class="title">Games</p>
<button
  mat-raised-button
  color="primary"
  (click)="newGame($event)"
  *ngIf="isAdmin"
>
  New Game ...
</button>
<mat-spinner *ngIf="processing"></mat-spinner>
<dapp-admin-games-form
  *ngIf="this.editing"
  (onCloseEdition)="closeForm($event)"
></dapp-admin-games-form>
<section fxLayout="column" fxFlexAlign="stretch">
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Open">
      <div class="game-list">
        <ng-container *ngFor="let game of gamesOpen">
          <dapp-games-game
            [gameCompound]="game"
            [isAdmin]="isAdmin"
          ></dapp-games-game>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Closed">
      <div class="game-list">
        <ng-container *ngFor="let game of gamesClosed">
          <dapp-games-game
            [gameCompound]="game"
            [isAdmin]="isAdmin"
          ></dapp-games-game>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Finalized">
      <div class="game-list">
        <ng-container *ngFor="let game of gamesFinalized">
          <dapp-games-game
            [gameCompound]="game"
            [isAdmin]="isAdmin"
          ></dapp-games-game>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
