.game-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
}

.title {
  color: #3f51b5;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
mat-tab-group {
  text-align: center;
}

mat-tab-group p {
  padding-top: 20px;
}
