<p class="title">Games</p>
<button mat-raised-button color="primary" (click)="newGame($event)">
  New Game ...
</button>
<mat-spinner *ngIf="processing"></mat-spinner>
<dapp-admin-games-form
  *ngIf="this.editing"
  (onCloseEdition)="closeForm($event)"
></dapp-admin-games-form>
<section fxLayout="column" fxFlexAlign="stretch">
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Open">
      <div class="game-list">
        <ng-container *ngFor="let gameService of games">
          <dapp-games-game [gameService]="gameService"></dapp-games-game>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Closed">
      <p>
        We will consume our .NET Core application. Basically, we will create
        complete CRUD client app.
      </p>
    </mat-tab>
    <mat-tab label="Finalized">
      <p>
        By using material components, we are going to create fully responsive
        navigation menu, with its side-bar as well.
      </p>
    </mat-tab>
  </mat-tab-group>
</section>
