<div class="game">
  <div class="row">
    <label>{{ homeTeam }}</label>
    <label>X</label>
    <label>{{ visitorTeam }}</label>
  </div>
  <div class="row">
    <mat-icon>today</mat-icon>
    <span>{{ datetimeGame?.toLocaleDateString() }}</span>
    <mat-icon>schedule</mat-icon>
    <span>{{ datetimeGame?.toLocaleTimeString() }}</span>
  </div>
  <div class="row-action">
    <button
      class="button"
      *ngIf="!open"
      mat-flat-button
      color="primary"
      matTooltip="The game is not receiving bets. Click to open it for betting"
      (click)="openForBetting()"
    >
      Open for betting
    </button>
    <button
      class="button"
      *ngIf="open"
      mat-flat-button
      color="accent"
      matTooltip="The game is open for betting. Click to close it"
      (click)="closeForBetting()"
    >
      Close for betting
    </button>
    <button class="button" *ngIf="!open" mat-flat-button color="warn">
      Finalize ...
    </button>
  </div>
</div>
