.game {
  display: flex;
  flex-direction: column;
  /*border: 1px solid gray;*/
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  min-width: 320px;
  width: 50%;
  min-height: 80px;
  box-shadow: 1px 1px 5px #555;
}
.game:hover {
  box-shadow: 0 8px 8px -4px #673ab7;
}
.game:nth-child(6n) {
  margin-right: 0;
}
.game:nth-child(6n + 1) {
  margin-right: 0;
}
.row-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-bottom: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.spanSpace {
  width: 10px;
}

.row-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}
.label-score {
  color: green;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 15px;
}
