name: Ðapp Soccer Bet Hardhat CI/CD

on:
  [push]
  # push:
  #   paths:
  #     - "backend-hardhat/**"
env:
  NETWORK: $NETWORK
  RPC_URL_ZNX_TESTNET: $RPC_URL_ZNX_TESTNET
  RPC_URL_ZNX_MAINNET: $RPC_URL_ZNX_MAINNET
  MNEMONIC: $MNEMONIC
  ROPSTEN_URL: $ROPSTEN_URL
jobs:
  build_test:
    name: Ðapp Soccer Bet Hardhat - CI
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit == false }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
          
      - name: Install dependencies
        run: npm install
        working-directory: ./backend-hardhat
      - name: Build
        run: npm run build
        working-directory: ./backend-hardhat
      - name: Run tests
        run: npm run test
        working-directory: ./backend-hardhat
#      - uses: actions/upload-artifact@master
#        with:
#          name: upload de algo
#          path: /
        
  slither:
    name: Ðapp Soccer Bet Hardhat - QA
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      - uses: actions/checkout@v3
      - name: lista-l
        run: ls  -l  
      - name: slither
        uses: crytic/slither-action@v0.1.1
        id: slither
        continue-on-error: true
        with:
          target: ./backend-hardhat
          sarif: results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}
